html, body {
	color: #37474F;

	background: rgba(254,146,110,1);
	background: -moz-linear-gradient(top, rgba(254,146,110,1) 0%, rgba(214,71,93,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,146,110,1)), color-stop(100%, rgba(214,71,93,1)));
	background: -webkit-linear-gradient(top, rgba(254,146,110,1) 0%, rgba(214,71,93,1) 100%);
	background: -o-linear-gradient(top, rgba(254,146,110,1) 0%, rgba(214,71,93,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,146,110,1) 0%, rgba(214,71,93,1) 100%);
	background: linear-gradient(to bottom, rgba(254,146,110,1) 0%, rgba(214,71,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe926e', endColorstr='#d6475d', GradientType=0 );
		
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif;
	overflow-x: hidden; 
}

.important {
	font-size: 30px;
}

.highlight {
	font-size: 64px;
}

.introduction {
	font-size: 24px;
}

@media (min-width: 1200px) {
	#pageOne .center {
		position: absolute;
		width: 1170px;
		height: 220px;
		margin-top: -150px;
		margin-left: -585px;
		top: 50%;
		left: 50%;
	}

	#pageTwo .center {
		position: absolute;
		width: 1170px;
		height: 250px;
		margin-top: -125px;
		margin-left: -585px;
		top: 50%;
		left: 50%;
	}

	#pageThree .center {
		position: absolute;
		width: 1170px;
		height: 360px;
		margin-top: -180px;
		margin-left: -585px;
		top: 50%;
		left: 50%;
	}

	#pageFour .center {
		position: absolute;
		width: 1170px;
		height: 450px;
		margin-top: -225px;
		margin-left: -585px;
		top: 50%;
		left: 50%;
	}

	.center {
		width: 1170px;
		margin-left: -585px;
	}

	#pageThree {
		color: white;
	}
}

@media (min-width: 992px) {
	#pageOne .center {
		position: absolute;
		width: 970px;
		height: 220px;
		margin-top: -150px;
		margin-left: -485px;
		top: 50%;
		left: 50%;
	}

	#pageTwo .center {
		position: absolute;
		width: 970px;
		height: 250px;
		margin-top: -125px;
		margin-left: -485px;
		top: 50%;
		left: 50%;
	}

	#pageThree .center {
		position: absolute;
		width: 970px;
		height: 360px;
		margin-top: -180px;
		margin-left: -485px;
		top: 50%;
		left: 50%;
	}

	#pageFour .center {
		position: absolute;
		width: 970px;
		height: 450px;
		margin-top: -225px;
		margin-left: -485px;
		top: 50%;
		left: 50%;
	}

	.center {
		width: -970px;
		margin-left: -485px;
	}

	#pageThree {
		color: white;
	}
}

@media (min-width: 758px) {
	#pageOne .center {
		position: absolute;
		width: 750px;
		height: 220px;
		margin-top: -150px;
		margin-left: -375px;
		top: 50%;
		left: 50%;
	}

	#pageTwo .center {
		position: absolute;
		width: 750px;
		height: 250px;
		margin-top: -125px;
		margin-left: -375px;
		top: 50%;
		left: 50%;
	}

	#pageThree .center {
		position: absolute;
		width: 750px;
		height: 360px;
		margin-top: -180px;
		margin-left: -375px;
		top: 50%;
		left: 50%;
	}

	#pageFour .center {
		position: absolute;
		width: 750px;
		height: 450px;
		margin-top: -225;
		margin-left: -375px;
		top: 50%;
		left: 50%;
	}

	.center {
		margin-left: -375px;
		width: 750px;
	}

	#pageThree {
		color: white;
	}
}

@media (max-width: 768px) {
	#pageOne .center {
		position: absolute;
		width: 80%;
		height: 550px;
		margin-top: -245px;
		margin-left: -40%;
		top: 50%;
		left: 50%;
	}

	#pageTwo .center {
		position: absolute;
		width: 82%;
		margin-left: -40%;
		left: 50%;
	}

	#pageThree .center {
		position: absolute;
		width: 80%;
		height: 360px;
		margin-top: -180px;
		margin-left: -40%;
		top: 50%;
		left: 50%;
	}

	#pageTwo {
		min-height: 450px;
	}

	#pageFour .center {
		position: absolute;
		width: 80%;
		height: 450px;
		margin-top: -255px;
		margin-left: -40%;
		top: 50%;
		left: 50%;
	}

	.iphone {
		display: none;
	}

	.center {
		width: 80%;
		margin-left: -40%;
	}

	#pageThree {
		color: #37474F;
	}
}

#pageOne {
	background-attachment: fixed;
	position:relative;
	color: white;
	height: 100%;
	width: 100%;
	background: url(/image/pageOne.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pageTwo {
	background-attachment: fixed;

	color: white;
	position: relative;

	height: 45%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#pageThree {
	background-attachment: fixed;
	position: relative;
	height: 55%;
	width: 100%;
	background: url(/image/pageThree.jpeg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 550px;
}

.well #info hr { 
	display: block; 
	height: 0.1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; padding: 0; 
}

#info a:link {
	color: white;
}

#info a:visited {
	color: white;
}

#info a:active {
	color: white;
}

#info a:hover {
	color: white;
}

#pageFour {
	color: white;
	background-attachment: fixed;
		
	min-height: 450px;

	position: relative;

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	background: url(/image/pageFour.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#pageFive {
	color: #37474F;
	position: relative;

	width: 100%;
	height: 55%;
	background-attachment: fixed;
	min-height: 500px;

	background: url(/image/pageFive.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#info {
	background-color: #0277BD;
	color: white;
	padding: 10px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#comments {
	background-color: #00838F;
	color: white;
	padding: 10px 20px 20px 20px;
	position: relative;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.well #comments hr { 
	display: block; 
	height: 0.1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; padding: 0; 
}

#pageSix {
	height: 45%;
	width: 100%;
	position: relative;
	background-attachment: fixed;
	color: white;
}

#comments a {
	color: white;
}

#comments a:link {
	text-decoration: none;
}

#comments a:visited {
	text-decoration: none;
}

#comments a:active {
	text-decoration: none;
}

#comments a:hover {
	text-decoration: none;
}

#pageSix .center {
	position: absolute;
	text-align: center;
	height: 250px;
	margin-top: -125px;
	top: 50%;
	left: 50%;
}