
html, body {
	background: rgba(241,112,92,1);
	background: -moz-linear-gradient(left, rgba(241,112,92,1) 0%, rgba(219,57,86,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,112,92,1)), color-stop(100%, rgba(219,57,86,1)));
	background: -webkit-linear-gradient(left, rgba(241,112,92,1) 0%, rgba(219,57,86,1) 100%);
	background: -o-linear-gradient(left, rgba(241,112,92,1) 0%, rgba(219,57,86,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,112,92,1) 0%, rgba(219,57,86,1) 100%);
	background: linear-gradient(to right, rgba(241,112,92,1) 0%, rgba(219,57,86,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1705c', endColorstr='#db3956', GradientType=1 );
		
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	
	font-family: "微軟正黑體", "微软雅黑", Helvetica, Arial,"メイリオ", "맑은 고딕", sans-serif;

	color:white;
}

@media (min-width: 1200px) {
	#search {
		width: 1170px;
		height: 195px;
	}

	.top {
		position: absolute;
		top: 5%;
		left: 50%;
		margin-left: -585px;
	}

	.center {
		position: absolute;
		top: 30%;
		left: 50%;
		margin-left: -585px;
		margin-top: -97.5px;
	}
	
	#feedbackButtons a{
		color: white;
		float: right;
	}
}

@media (min-width: 992px) {
	#search {
		width: 970px;
		height: 195px;
	}

	.top {
		position: absolute;
		top: 5%;
		left: 50%;
		margin-left: -485px;
	}

	.center {
		position: absolute;
		top: 30%;
		left: 50%;
		margin-left: -485px;
		margin-top: -97.5px;
	}

	#feedbackButtons a{
		color: white;
		float: right;
	}

}

@media (min-width: 758px) {
	#search {
		width: 750px;
		height: 195px;
	}

	.top {
		position: absolute;
		top: 5%;
		left: 50%;
		margin-left: -375px;
	}

	.center {
		position: absolute;
		top: 30%;
		left: 50%;
		margin-left: -375px;
		margin-top: -97.5px;
	}

	#feedbackButtons a{
		color: white;
		float: right;
	}
}

@media (max-width: 768px) {
	#search {
		width: 80%;
		height: 195px;
	}

	.top {
		position: absolute;
		top: 5%;
		left: 50%;
		margin-left: -40%;
	}

	.center {
		position: absolute;
		top: 30%;
		left: 50%;
		margin-left: -40%;
		margin-top: -97.5px;
	}

	#feedbackButtons a{
		color: white;
	}
}


.form-control::-moz-placeholder {
	color: white;
}
.form-control:-ms-input-placeholder {
	color: white;
}
.form-control::-webkit-input-placeholder {
	color: white;
}

#editMenuModal input {
	margin-top: 5px;
	height: 36px;
}

#result {
	margin-top: 80px;
	position: relative;
}

.well #info hr { 
	display: block; 
	height: 0.1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; padding: 0; 
}

#info a:link {
	color: white;
}

#info a:visited {
	color: white;
}

#info a:active {
	color: white;
}

#info a:hover {
	color: white;
}
.well #comments hr { 
	display: block; 
	height: 0.1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; padding: 0; 
}


#loading {
	margin-top: 15px;
}

.seeMore {
	position: absolute;
	height: 36px;
	top: 50%;
	margin-top: -18px;
	right: 10px;
}

#detailResult {
	padding: 0px 0px 0px 0px;
	margin-top: 80px;
}

#detailResult table {
	width: 100%;
}

#info {
	background-color: #0277BD;
	color: white;
	padding: 10px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#comments {
	background-color: #00838F;
	color: white;
	padding: 10px 20px 20px 20px;
	position: relative;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#menu {
	padding: 10px 20px 20px 20px;
}

#addCommentModal {
	color: #424242;
}

#category {
	margin-top: 50px;
}

#title {
	margin-bottom: 10px;
}

#title a:link {
	text-decoration: none;
	color: white;
}

#title a:visited {
	text-decoration: none;
	color: white;
}

#title a:active {
	text-decoration: none;
	color: white;
}

#title a:hover {
	text-decoration: none;
	color: white;
}

#recentView {
	color: white;
	background-color: #607D8B;
}

#recentView hr {
	display: block; 
	height: 0.1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; padding: 0;
}

#editMenuModal {
	color: black;
}

#editMenuModalContent {
	background-color: #00838F;
	color: white;
	padding: 10px 20px 20px 20px;
	position: relative;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#editMenuModalContentAdmin {
	background-color: #00838F;
	color: white;
	padding: 20px 20px 20px 20px;
	position: relative;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#editMenuModalContent hr {
	display: block; 
	height: 0.1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; padding: 0; 
}

#addCategoryForm #info input, select, textarea {
	color: white;
}

#adminDashboard {
	padding: 0px 0px 0px 0px;
}

#adminDashboard #info input[type="text"]{
	color: white;
}

#editMenuModalContentAdmin .form-control::-moz-placeholder {
	color: #9E9E9E;
}
#editMenuModalContentAdmin .form-control:-ms-input-placeholder {
	color: #9E9E9E;
}
#editMenuModalContentAdmin .form-control::-webkit-input-placeholder {
	color: #9E9E9E;
}

#adminSave {
	color: #607D8B;
	padding: 10px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#likeArea {
	float: right;
	top: 0;
	right: 0;
	position: absolute;
	padding: 35px 20px 20px 20px;
}

#likeArea a:link {
	color: white;
	text-decoration: none;
}

#likeArea a:visited {
	color: white;
	text-decoration: none;
}

#likeArea a:active {
	color: white;
	text-decoration: none;
}

#likeArea a:hover {
	color: white;
	text-decoration: none;
}

.likeActive{
	color: #C62828;	
}

.dislikeActive {
	color: #263238;
}

.autocomplete-suggestions { border: 0px solid #999; background: #FFF; overflow: auto; color:black; font-size:20px}
.autocomplete-suggestion { padding: 2px 10px; white-space: nowrap; overflow: hidden; height: 30px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: lighter;}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 0px solid #000; }