html, body {
	background: #f6270c;
	background: -moz-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(219,57,86,1) 66%, rgba(219,57,86,1) 84%, rgba(219,57,86,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(66%, rgba(219,57,86,1)), color-stop(84%, rgba(219,57,86,1)), color-stop(100%, rgba(219,57,86,1)));
	background: -webkit-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(219,57,86,1) 66%, rgba(219,57,86,1) 84%, rgba(219,57,86,1) 100%);
	background: -o-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(219,57,86,1) 66%, rgba(219,57,86,1) 84%, rgba(219,57,86,1) 100%);
	background: -ms-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(219,57,86,1) 66%, rgba(219,57,86,1) 84%, rgba(219,57,86,1) 100%);
	background: linear-gradient(to right, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(219,57,86,1) 66%, rgba(219,57,86,1) 84%, rgba(219,57,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#db3956', GradientType=1 );
		
	height: 100%;
	width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

	background-color: #ED4A2D;

	color:white;
}

@media (min-width: 1200px) {
	#search {
		width: 1170px;
		height: 195px;
	}
}

@media (min-width: 992px) {
	#search {
		width: 970px;
		height: 195px;
	}
}

@media (min-width: 758px) {
	#search {
		width: 750px;
		height: 195px;
	}
}

@media (max-width: 768px) {
	#search {
		width: 80%;
		height: 195px;
	}
}

.top {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}


.center {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
}

.form-control::-moz-placeholder {
	color: white;
}
.form-control:-ms-input-placeholder {
	color: white;
}
.form-control::-webkit-input-placeholder {
	color: white;
}

#result {
	margin-top: 80px;
	position: relative;
}

.well hr { 
	display: block; 
	height: 0.1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; padding: 0; 
}

#loading {
	margin-top: 15px;
}

.seeMore {
	position: absolute;
	height: 36px;
	top: 50%;
	margin-top: -18px;
	right: 10px;
}

#detailResult {
	padding: 0px 0px 0px 0px;
	margin-top: 80px;
}

#detailResult table {
	width: 100%;
}

#info {
	background-color: #0277BD;
	color: white;
	padding: 10px 20px 20px 20px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#comments {
	background-color: #00838F;
	color: white;
	padding: 10px 20px 20px 20px;
	position: relative;
	right: 0;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#menu {
	padding: 10px 20px 20px 20px;
}

#addCommentModal {
	color: #424242;
}
